/*****************************************************
 * Magic Mirror 2                                    *
 * Custom CSS for MMM-modulebar                      *
 *                                                   *
 * By Erik Pettersson                                *
 * Based on the TouchNavigation CSS by Brian Janssen *
 * MIT Licensed.                                     *
 *                                                   *
 *****************************************************/
.icon-menu {
    display: inline-flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.control-menu {
    max-width: 360px;
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

.button {
    z-index: 1;
    /* Border */
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;

    /* as container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2px;
    padding: 6px 6px;
}

.room-button-on {
    border-color: rgb(255, 255, 255);
}

.room-button-off {
    border-color: #aaa;
}

.room-symbol {
    margin: 1px 1px;
}

.room-symbol-on {
    color:rgb(255, 255, 255);
}

.room-symbol-off {
    color: #aaa;
}

.control-button {
    border-color: black;
}

.control-symbol {
    color:rgb(255, 255, 255);
}

.volume-wrapper {
    display: grid;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.slider-icon {
    grid-area: 1 / 1;
    margin-right: 88%;
    font-size: 7px;
    margin-top: 3px;
    color: black;
}


input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}